$green: #6FAD22;
$dark-green: #76923C;
$dark-row:#eef5e7;
$divider:#dde6d4; 
$space-xs: 10px;
$space-sm:15px;
$space-md:30px;
$space-lg:40px;
/* Table of Content
==================================================
  #Reset & Basics
  #Basic Styles
  #Typography
  #Links
  #Lists
  #Menu
  #Images
  #Videos
  #Buttons
  #Tabs
  #Forms
  #Tables
  #Misc
  #Site Styles 
  #FlexSlider 
  #FancyBox
  #Layout
  #Font-Face */
  
/* #Reset & Basics
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit; }
  .contact div{overflow:hidden}
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }
    body {
      line-height: 1; }
      ol, ul, li {
        list-style: none; }
        blockquote, q {
          quotes: none; }
          blockquote:before, blockquote:after,
          q:before, q:after {
            content: '';
            content: none; }
            table {
              border-collapse: collapse;
              border-spacing: 0; }


/* #Basic Styles
================================================== */
body { 
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-weight: normal;      
  font-size: 15px; 
  text-transform: none;
  color: #404040;
  line-height: 1.7em;
}
::-moz-selection {
 background-color: #000;
 color: #fff;
}
::selection {
  background: #FFF7B6;
  color: black;
}
abbr {
  border-bottom: 1px dotted #dbe3e5;
} 
/* #Typography
================================================== */
.logo {   

  font-family: "Open Sans";


  font-weight: normal;      
  font-size: 32px; 
  text-transform: none;
  color: #303030;
}
.logo a, .logo a:hover, .logo a:visited, .logo a:active {
  color: #303030;    
  line-height: 45px;
}
h1, h2, h3, h4, h5, h6, .collection_title, .headline, p.subtitle { 

  font-family: "Open Sans";

  font-weight: normal;    
  text-transform: none;
  color: #303030;
  display:block;
  letter-spacing: 0px;
  text-rendering: optimizeLegibility;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .collection_title { font-weight: inherit; }
h1 a, h1 a:visited, .collection_title a, .collection_title a:visited { color: #303030 }
h1 a:hover, h1 a:active, .collection_title a:hover, .collection_title a:active { color: #6fad22 }
h1, .h1, h1.home, h2.title, .collection_title { font-size: 32px;  line-height: 1.5em; margin: 0 auto 20px; clear:both; font-weight: normal;}
h1.home { margin: 0 auto 15px; border-top: 1px solid #dbe3e5; border-bottom: 1px solid #dbe3e5; padding: 12px 0;  }
h1.product_name { margin-bottom: 15px; }
h2, .h2 { font-size: 26px; margin-bottom: 0.75em }
h3, .h3, h1.blog_title { font-size: 24px; line-height: 35px; margin: 0 auto 15px 0; text-align: left; }
h1.collection_title, div.collection_title { margin-bottom: 0; line-height: 32px; display: inline; }
h1.collection_title_tags, div.collection_title_tags { padding-right: 25px; border-right: solid 1px #dbe3e5; }
h4, .h4, h4.title a { font-size: 18px; line-height: 32px; margin: 0 0 10px 0; text-align: left; padding: 0; border-bottom: 1px solid #dbe3e5; padding-bottom:8px;}
h4.title a { border-bottom: 0; padding-bottom: 0; margin-bottom: 0;}
h5, .h5 { font-size: 18px; padding-bottom: 1em; }
h5.sub_title { padding-bottom: 5px; }
h6, .h6 { font-size: 16px; padding-bottom: 1em;}
.footer h6 { color: #404040; }
.subheader { color: #777; }
p { margin: 0 0 15px; font-style: normal; line-height: 1.7em; }
p img { margin: 0; }
em, i { font-style: italic; }
strong, b { font-weight: bold; }
small { font-size: 90%; }

/*  Blockquotes  */
blockquote, blockquote p { font-size: 17px; line-height: 24px; font-style: italic; }
blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #dbe3e5; }
blockquote cite { display: block; font-size: 12px; color: #555; }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }
hr { border: solid #dbe3e5; border-width: 1px 0 0; clear: both; margin: 12px 0; height: 0; }
.quote {
 font-size: 16px;
 line-height: 22px;
 text-align: center;
 margin: 0 0 20px 0;
 font-style: italic;
}
/* #Links
================================================== */
a, a:visited { color: #6fad22; text-decoration: none; outline: 0; -webkit-transition: color .1s linear; -moz-transition: color .1s linear; -o-transition: color .1s linear; -ms-transition: color .1s linear; transition: color .1s linear; }
a:hover, a:focus { color: #282c30; }
/* #Lists
================================================== */
// ul, ol { margin-bottom: $space-sm; }
li { float:left }
// ul { list-style: circle outside; }
// ol { list-style: decimal; }
// ul, ol, ul.square, ul.circle, ul.disc { margin-left: $space-lg; }
// ul.square { list-style: square outside; }
// ul.circle { list-style: circle outside; }
// ul.disc { list-style: disc outside; }
// ul ul, ul ol,
// ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
// ul ul li, ul ol li,
// ol ol li, ol ul li { margin-bottom: 6px; }
// ul.large li { line-height: 21px; }
// ul.none { list-style: none outside; margin-left: 0;}


/* #Clearing
================================================== */

/* Self Clearing Goodness */
/*.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }*/

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; 
}
.clearfix:after {
  clear: both; } 
.clearfix {
  zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}



.no-float{
  float: none !important;
}
.main-green{color:$green;}
.dark-green{color: $dark-green;}
.row,img{width: 100%}
.row{@extend .clearfix}
.xs-1,.xs-2,.xs-3,.xs-4, .xs-5,.xs-6, .xs-7, .xs-8, .xs-9, .xs-10,.xs-11,.xs-12,.lg-1,.lg-2,.lg-3,.lg-4,.lg-5, .lg-6, .lg-7, .lg-8,.lg-9, .lg-10, .lg-11,.lg-12, .md-1,.md-2,  .md-3, .md-4,.md-5,.md-6, .md-7,.md-8, .md-9, .md-10, .md-11, .md-12,.sm-1, .sm-2,  .sm-3,  .sm-4, .sm-5,  .sm-6, .sm-7, .sm-8,  .sm-9, .sm-10, .sm-11, .sm-12 {display: inline-block}

.row{.xs-1,.xs-2,.xs-3,.xs-4, .xs-5,.xs-6, .xs-7, .xs-8, .xs-9, .xs-10,.xs-11,.xs-12,.lg-1,.lg-2,.lg-3,.lg-4,.lg-5, .lg-6, .lg-7, .lg-8,.lg-9, .lg-10, .lg-11,.lg-12, .md-1,.md-2,  .md-3, .md-4,.md-5,.md-6, .md-7,.md-8, .md-9, .md-10, .md-11, .md-12,.sm-1, .sm-2,  .sm-3,  .sm-4, .sm-5,  .sm-6, .sm-7, .sm-8,  .sm-9, .sm-10, .sm-11, .sm-12 {display: inline-block;float:left}
}
.dark-background{
	background-color: $dark-row;
	width:100%;
	float:left;
  border-top: solid $divider 1px; 
  border-bottom: solid $divider 1px;
}
.divider-top{
  border-top: solid $divider 1px; 
} 
.divider-bottom{
  border-bottom: solid $divider 1px; 
} 
.divider-right{
  border-right: solid $divider 1px; 
} 
.divider-left{
  border-left: solid $divider 1px; 
} 
.margin-auto{
  margin-left: auto;
  margin-right: auto;
} 
.button, .button a{
  background-color: $green;
  border: none;
  color: white;
  width: 120px;
  height: 35px;
  border-radius: 5px;
  text-align: center;
}
.text{
  color: black
}
.alert-error{
  color: red;
}
.alert-succeed{
  color: green;
}
input[type='text'],input[type='password'],input[type='tel'],input[type='email']{
  height: 30px;
  margin-bottom: 15px;
  border-radius:5px;
  // min-width: 250px;
  border: 1px inset;
}
textarea{
  border-radius:5px;
  border: 1px solid;
}
.algin-left{
	display:inline-block;
	float:left;
}
.align-right{
	display:inline-block;
	float:right !important
}
.align-center{
  display: table!important;
  float: none!important
}
.text-center{
	text-align:center;
}
.text-right{
	text-align:right;
}
.text-left{
	text-align:left;
}
.margin-sm{
  margin-top: $space-sm;
  margin-bottom: $space-sm
}
.margin-md{
  margin-top: $space-md;
  margin-bottom: $space-md
}
.margin-lg{
  margin-top: $space-lg;
  margin-bottom: $space-lg
}

.single,.half,.quater{display:inline-block}
.social-icons{
	list-style: none;
    margin: 0px;
    padding: 8px 0px 0px 0px;
 	li{
 		display: inline-block;
	    margin: 0 15px;
	    padding: 0;
      float: none;
 		a {
		    display: block;
		    background-color: $green;
		    color: #999999;
		    text-align: center;
		    text-decoration: none;
		    line-height: 32px;
		    margin: 2px;
		    padding: 0px;
		    border-radius: 16px;
		    &:hover{
		    	background: #ddd;
				background: rgba(0, 0, 0, 0.3);
				color: #333;
		    }
		}
		.fa {
			min-width: 32px;
		}
	}
}
.footer {
  div{
    .xs-12{
      border-bottom: solid $divider 1px;
    }
  }
}
.navigation, .menu-nav{
  ul {
    li{
          font-family: 'Roboto Slab', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Lucida, Helvetica, Arial, sans-serif !important;
    font-size: 17px;
    }
  }
}
.shipping{
  border: 1px solid black;
  border-collapse: collapse;
  line-height: 50px;
  td,th{
    border: 1px solid black;
    border-collapse: collapse;
    line-height: 40px;
  }
}
/*font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Lucida, Helvetica, Arial, sans-serif;*/
/** GRID COLUMN*/
/* Dành cho điện thoại */
@media all and (min-width: 200px) {
	.container, .header, .footer, .body{
	    width:100%;
	    margin:0 0;
	    padding: 0 0;
	    float: left;
	    &:after{
	    	clear:both;
	    }
  	}
  	.content{
	    width: 100%;
	    max-width: 1000px;
	  }
  	.xs-1{ width: 8.3%}
  	.xs-2{ width: 16.5%}
  	.xs-3,.quater{ width: 24.5%}
  	.xs-4{ width: 33.2%}
  	.xs-5{ width: 41.5%}
  	.xs-6,.half{ width: 49%}
  	.xs-7{ width: 58%}
  	.xs-8{ width: 66.5%}
  	.xs-9{ width: 74%}
  	.xs-10{ width: 83%}
  	.xs-11{ width: 91%}
  	.xs-12,.single{ width: 100%}
  	.row {.hidden-xs,.hidden-sm{display:none}}
    .hidden-xs,.hidden-sm{display:none}
  	.email{
  		float: left;
  		background-color:$green;
  		width: 100%;
  		color: white;
  		input[type='text'],input[type='password'],input[type='tel'],input[type='email']{
  			margin-top: $space-xs;
  			min-width:150px;
  			width: 50%;
  			margin-right: $space-md
	  	}	
	  	input[type='submit']{
	  		margin-top: $space-xs;
	  		padding:7px;
	  		background-color: green;
	  		border: solid white 2px;
	  		border-radius:5px;
	  		color: white;
	  	}
  	}
    .blogs ul li {
      margin-left: 15px;
      list-style-type: disc;
      float: none;
    }
  	.footer {
  		div,ul {
        text-align: center;
	  		li{
	  			float: none;
	  		}
	  	}
  	}
    .navigation{display:none !important}
    .menu-nav{

      display: inline-block!important;
      ul {
        text-align: center;
        width: 100%;
        background-color: #f1f1f1;
        li{
          width: 100%;
          float: none;
          border-bottom: solid #dde6d4 1px;
          &:hover{
            background-color:#ddd;
          }
          ul {
            li{
              background-color:#fbfbfb;
            }
          }
        }
      }
    }
}

/* Dành cho máy tính bảng chiều dọc */
@media all and (min-width: 650px) {
  	.sm-1{ width: 8.3%}
  	.sm-2{ width: 16.5%}
  	.sm-3{ width: 24.5%}
  	.sm-4{ width: 33.2%}
  	.sm-5{ width: 41.5%}
  	.sm-6{ width: 49%}
  	.sm-7{ width: 58%}
  	.sm-8{ width: 66.5%}
  	.sm-9{ width: 74%}
  	.sm-10{ width: 83%}
  	.sm-11{ width: 91%}
  	.sm-12{ width: 100%}
    .hidden-xs{display:block}
    .row .hidden-xs{display: inline-block}
    .hidden-sm{display:none}
    .row .hidden-sm{display:none}
    .navigation{
      display: inline-block !important;
      ul {

        li {
          input[type='text'],input[type='password']{
            width: 300px;
            height: 25px;
          }
          ul{
            border: solid #dde6d4 1px;
            z-index: 10;
            margin-left: -50px;
            text-align: center;
            li{
              background-color:white;
              width: 200px;
              border-bottom: solid #dde6d4 1px;
            }
          }
        }
      }
    }
    .menu-nav{
      display: none !important;

    }
}
 
/* Dành cho máy tính bảng chiều ngang */
@media all and (min-width: 900px) {
  	.md-1{ width: 8.3%}
  	.md-2{ width: 16.5%}
  	.md-3{ width: 24.5%}
  	.md-4{ width: 33.2%}
  	.md-5{ width: 41.5%}
  	.md-6{ width: 49%}
  	.md-7{ width: 58%}
  	.md-8{ width: 66.5%}
 	 .md-9{ width: 74%}
  	.md-10{ width: 83%}
  	.md-11{ width: 91%}
  	.md-12{ width: 100%}
  	.navigation {      

  	}
  // .category{margin-top: $space-md}
  .hidden-sm{display:block}
  .row .hidden-sm{display: inline-block}
  .footer {
    div{
      .xs-12{
        border-bottom: none;
      }
    }
  }
}
 
/* Dành cho màn hình desktop */
@media all and (min-width: 1280px) {
  	.lg-1{ width: 8.3%}
  	.lg-2{ width: 16.5%}
  	.lg-3{ width: 24.5%}
  	.lg-4{ width: 33.2%}
  	.lg-5{ width: 41.5%}
 	.lg-6{ width: 49%}
 	.lg-7{ width: 58%}
  	.lg-8{ width: 66.5%}
  	.lg-9{ width: 74%}
  	.lg-10{ width: 83%}
  	.lg-11{ width: 91%}
  	.lg-12{ width: 100%}

}